@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  /* Not in Use */
  /* --accent_3: rgba(255, 102, 94, 30%);
  --accent_7: rgba(255, 72, 176, 15%);
  --accent_7: rgba(0, 131, 138, 30%);
  --accent_7: rgba(255, 232, 0, 40%);
  --accent_3: rgba(255, 72, 176, 25%);
  --light_mix: rgba(152, 79, 155, 0.32);
  --dark_mix: rgba(149, 79, 154, 0.55); */

  --accent_1: rgba(61, 85, 136, 20%);
  --accent_2: rgba(61, 85, 136, 40%);
  --accent_4: rgba(241, 80, 96, 30%);
  --accent_3: rgba(255, 72, 176, 55%);
  --accent_4: rgba(241, 80, 96, 35%);
  --accent_3: rgba(255, 72, 176, 35%);
  --accent_5: rgba(152, 79, 155, 0.32);
  --text: rgba(61, 85, 136, 85%);
  --background: white;
}

body,
html {
  font-family: 'Karla';
  background-color: var(--background);
  color: var(--text);
}
body {
  margin-left: 2em;
}
.mainContainer {
  display: grid;
  grid-template-columns: 300px 400px 5vw 400px 1fr;
  grid-template-rows: max-content 1fr;
}
.shipContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 6px solid var(--accent_2);
  grid-column: 1;
  margin-right: 25px;
  margin-left: 10px;
  height: max-content;
  padding: 10px;
}
p {
  margin-bottom: 0.5em;
  margin-top: 0;
}
.instructions {
  margin-top: 2em;
}
.ships {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.ship {
  display: flex;
  /* flex-direction: column; */
  margin: 5px;
}
.gameboard {
  display: grid;
  grid-row: 1;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 420px;
  height: 420px;
  gap: none;
  border: 6px solid var(--accent_2);
}
.cell {
  height: 30px;
  width: 30px;
  background-color: var(--accent_1);
  border: 6px solid var(--accent_2);
}
.shipCell {
  background-color: var(--accent_3);
  border: 6px solid var(--accent_4);
  position: relative;
  /* top: -2px;
  left: -2px; */
}

.description {
  margin-top: 2vh;
}
.human {
  grid-column: 2;
}
.computer {
  grid-column: 4;
}

/* Drag and drop styling */
.hide {
  display: none;
}
.drag-over {
  background-color: var(--light_mix);
  background-color: var(--accent_5);
}
.vertical {
  flex-direction: column;
}

.placedShip {
  margin: 0;
}
.horizontalPlaced {
  display: grid;
}

@media only screen and (max-width: 750px) {
  body {
    margin-left: 0.2em;
  }
  .mainContainer {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
  }
  .computer {
    grid-column: 2;
  }
  .cell {
    height: 20px;
    width: 20px;
    position: relative;
  }
  .gameboard {
    width: 320px;
    height: 320px;
  }

  .shipContainer {
    grid-column: 2;
    width: 300px;
    height: auto;
    margin: 0;
    margin-bottom: 1em;
  }
}
