@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --text: black;
  --accent_0: #e6e6fa;
  /* slate */
  --accent_1: #f8fafc;
  --accent_2: #e2e8f0;
  /* indigo */
  --accent_1: #eef2ff;
  --accent_2: #e0e7ff;
  --background: white;
}

body,
html {
  font-family: 'Karla';
  background-color: var(--background);
}
.mainContainer {
  display: grid;
  grid-template-columns: 20vw 400px 5vw 400px 1fr;
  grid-template-rows: 500px 1fr;
}
.shipContainer {
  border: 2px solid var(--accent_1);
  grid-column: 1;

  height: 400px;
}
.gameboard {
  display: grid;
  grid-row: 1;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 400px;
  height: auto;
  gap: none;
}
.cell {
  height: 40px;
  width: 40px;
  border: 1px solid var(--accent_2);
  background-color: var(--accent_1);
}
.description {
  margin-top: 2vh;
}
.human {
  grid-column: 2;
}
.computer {
  grid-column: 4;
}
